* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#403075, #882D61);
}

.mini-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

h1 {
    text-align: center;
    color: white;
    margin: 20px;
    font-size: 4rem;
    padding: 20px;
}

img {
    height: 70%;
    padding: 20px;
}

.piano {
    display: flex;
    position: relative;
    justify-content: center;
    height: 30%;
    max-width: 800px;
    width: 100%;
}

.white {
    width: 10%;
    height: 100%;
    background-color: white;
    border: 1px solid #333;
    border-radius: 10px;
    cursor: pointer;
}

.white.active {
    background-color: #CCC;
}

.black {
    width: 7%;
    height: 50%;
    background-color: black;
    margin-left: -3.5%;
    margin-right: -3.5%;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
}

.black.active {
    background-color: #CCC;
}